[Unit]
Description=Disk spindow and fan control daemon.

[Service]
Environment=DEBUG=1
Environment=HOME=/root
ExecStart=/usr/local/bin/julia /opt/diskfan/diskfan
Type=simple
Restart=always
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
