[Unit]
Description=Disk control daemon.

[Service]
Environment=DEBUG=1
Environment=HOME=/root
ExecStart=/opt/sysmgmt/diskcontrol
Type=simple
Restart=always
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
